.remove-link-dec {
    text-decoration: none;
    color: white
}

.remove-link-dec:hover {
    color: grey;
    text-decoration: none;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.remove-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}