.footer-container {
    display: flex;
    padding-right: 5px;
}

.footer-container > * {
    margin-left: 5px;
}

.pull-right {
    margin-left: auto;
}

svg {
    pointer-events: none;
}

.remove-underline-color {
    text-decoration: none;
    color: white;
}