.submit-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.item {
    align-self: flex-end;
}

.stats-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

svg {
    pointer-events: none;
}

@media only screen and (max-height: 600px) {
    .image-resize {
        width: 50% !important;
        height: auto !important;
        align-self: center;
    }
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .image-resize {
        width: 50% !important;
        height: auto !important;
        align-self: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .image-resize {
        width: 60% !important;
        height: auto !important;
        align-self: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .image-resize {
        width: 70% !important;
        height: auto !important;
        align-self: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .image-resize {
        width: 80% !important;
        height: auto !important;
        align-self: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .image-resize {
        width: 100% !important;
        height: auto !important;
        align-self: center;
    }
} 