.submit-container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.item {
    align-self: flex-end;
}

.stats-container {
    display: inline-flex;
    flex-direction: column;
}