body {
  background-image: url(./assets/japan-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 95, 179, 0.37);
}

.center-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.center-content {
  max-width: 75%;
  max-height: 90%;
  border: 1px solid rgba(0,0,0,.125) !important;
}

.footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.card-overflow {
  max-height: 80%;
  overflow: auto;
}

@media (prefers-color-scheme: dark) {
  .invert-image {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }
}

@media (prefers-color-scheme: light) {
  .invert-image {
    -webkit-filter: grayscale(0) invert(0);
    filter: grayscale(0) invert(0);
  }
}

.card-footer {
	background-color: rgba(0, 0, 0, 0.03);
	border-top-color: rgba(140, 130, 115, 0.13);
}

.correct-color {
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.wrong-color {
  font-weight: bold;
  color: red;
}

.card-size {
	min-width: 25% !important;
}