/* Color Palette: https://colorhunt.co/palette/167893
    #1b262c
    #0f4c75
    #3282b8
    #bbe1fa */

.App-center {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-content {
  background-color: #1b262c; /* #b8b8b8*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-font-size {
  font-size: calc(5px + 2vmin);
}

/* .start-button {
  align-self: center;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.invert-image {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.btn-primary {
  background-color: #bbe1fa !important;
  color: #1b262c !important;
  font-weight: bold !important;
  border-color: #bbe1fa !important;
}

.btn-primary:hover {
  background-color: #bbe1fac2 !important;
  border-color: #bbe1fac2 !important;
}

.btn-secondary {
  font-weight: bold !important;
}